In [52]:
#importing libraries, the data and shaping the latter as a dataframe
import pandas as pd
import numpy as np
attacks = pd.read_csv("ignoredstuff/attacks.csv",encoding = "ISO-8859-1")

# A. Initial exploration and general basic cleaning

In [8]:
#df's shape
attacks.shape

(25723, 24)

In [45]:
#df's columns
columns_attacks = attacks.columns
columns_attacks

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [15]:
#a quick view...
attacks.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2376,1995.06.30,30-Jun-1995,1995.0,Unprovoked,USA,California,"Bluefish Cove, Pt. Lobos State Park, Monterey ...",Scuba diving (ascending using scooter),Marco Flagg,M,...,6 m [20'] white shark,"R. Collier, pp.149-151",1995.06.30-MarcoFlagg_Collier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1995.06.30,1995.06.30,3927.0,NaN,NaN
16896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3157,1977.02.00,Feb-1977,1977.0,Unprovoked,NEW CALEDONIA,NaN,I'le Ouen,NaN,Jean Blanchet,NaN,...,NaN,W. Leander,1977.02.00-Blanchet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1977.02.00,1977.02.00,3146.0,NaN,NaN
570,2014.03.29,29-Mar-2014,2014.0,Invalid,AUSTRALIA,Western Australia,Off Dawesville Cut,Diving for lobsters,Michael McGregor,M,...,Shark involvement prior to death not confirmed,"The West Australian, 4/2/2014",2014.03.29-WesternAustralia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.03.29,2014.03.29,5733.0,NaN,NaN
24281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8197,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7493,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4812,1938.07.17.R,Reported 17-Jul-1938,1938.0,Provoked,TURKEY,NaN,NaN,Fishing,Ahmed,M,...,NaN,"C. Moore, GSAF",1938.07.17.R-Turkey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1938.07.17.R,1938.07.17.R,1491.0,NaN,NaN
14264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#elemental informatio
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [18]:
#looking for NaNs
attacks.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [ ]:
#given the high number of NaNs it will be better to work with them before worrying about descriptive statistics...

In [20]:
#deleting all the rows exclusively composed by null values
attacks_1_1 = attacks.dropna(how="all")

In [33]:
#check again the number of NaNs
attacks_1_1.isna().sum()
#17020 rows contained only null values and were thus deleted

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

In [36]:
#checking the shape of our new "cleaner" df
attacks_1_1.shape

(8703, 24)

In [41]:
#comparing the info provided by .shape and the sum of null given by .isna().sum()
#the columns "Unnamed: 22" & "Unnamed: 23" will be deleted as the contain basically null values
#which are useless and create a gap of such a mgnitude that is simply unfeasible to fill 

attacks_1_2 = attacks_1_1.drop(["Unnamed: 22" , "Unnamed: 23"], axis=1)

In [44]:
#our new df's columns
columns_attacks_1_2 = attacks_1_2.columns
columns_attacks_1_2

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [46]:
#taking a look at a sample
attacks_1_2.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
796,2012.05.09,09-May-2012,2012.0,Unprovoked,USA,Florida,"Vero Beach, Indian River County",Swimming,Karin Ulrike Stei,F,...,N,11h30,NaN,News Channel 5,2012.05.09-Stei.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.05.09,2012.05.09,5507.0
1791,2003.04.09,09-Apr-2003,2003.0,Unprovoked,USA,Florida,"Melbourne Beach, Brevard County",Surfing,Damien Share,M,...,N,Dusk,NaN,D. Share,2003.04.09-Share.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2003.04.09,2003.04.09,4512.0
1839,2002.08.05,05-Aug-2002,2002.0,Unprovoked,USA,North Carolina,"Topsail Beach, Pender County",Standing,Robert Pollan,M,...,N,11h00,1.2 m to 1.5 m [4' to 5'] shark,"Wisconsin State Journal; C. Creswell, GSAF",2002.08.05-Pollan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.08.05,2002.08.05,4464.0
8595,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7027,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226,1975.06.00.c,Jun-1975,1975.0,Provoked,USA,Florida,"New Smyrna Beach, Volusia County",NaN,NaN,M,...,N,NaN,NaN,undated press clipping - see 1975.06.00.b,1975.06.00.c-stepped-on-shark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.06.00.c,1975.06.00.c,3077.0
4946,1934.03.00,Mar-1934,1934.0,Provoked,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' launch, occupants: 2 fishermen",NaN,...,N,NaN,"Mako shark, 3.7 m [12'] identified by tooth fr...","V.M. Coppleson (1958), p.182; G.P. Whitley",1934.03.00-Cronulla-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.03.00,1934.03.00,1357.0
4266,1956.00.00.g,1956,1956.0,Sea Disaster,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,...,Y,NaN,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2037.0
6761,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5174,1924.11.25,25-Nov-1924,1924.0,Unprovoked,MEXICO,Tamaulipas,Tampico,The Ward liner Esperanza stranded during a gal...,Ofelia Rivas,F,...,Y,NaN,1.8 m shark,"Indianapolis Star, 12/15/1924",1924.11.25-Rivas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1924.11.25,1924.11.25,1129.0

# B. The Hypotheses to test

It has been decided that the hypotheses to test are the following:

- Shark attacks' fatality rate has fallen over time
- Shark attacks' fatality rate is negatively correlated with the level of development of the place where the attack takes place

# C. Reshaping and cleaning the dataset according to Hypotheses to test

The formulated hypotheses imply that fatality will be our main variable of interest. Besides that, included variable which are to be inspected are those related to time and location. These are respectively "Date", "Year" "Time" plus those related to Case Number on the one hand, and "Area" "Location" and "Country" on the other.

In [74]:
#first of all, all the variable which are not of interest will be discarded
columns_to_discard = ['Type', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Time','Species ', 'Investigator or Source', 
                      'pdf', 'href formula', 'href','original order']

attacks_1_3_ = attacks_1_2.drop(columns_to_discard, axis=1)

(8703, 9)

In [75]:
#taking a look at this new refined df
print(attacks_1_3.shape)
attacks_1_3.sample(10)

(8703, 9)

,Case Number,Date,Year,Country,Area,Location,Fatal (Y/N),Case Number.1,Case Number.2
1331,2007.09.16.a,16-Sep-2007,2007.0,USA,Florida,"Flagler Beach, Flagler County",N,2007.09.16.a,2007.09.16.a
3620,1965.06.09,09-Jun-1965,1965.0,MEXICO,Veracruz,Mocambo,N,1965.06.09,1965.06.09
2598,1991.06.07.a,07-Jun-1991,1991.0,HONG KONG,Port Shelter,"Silverstrand Beach, near Hung Hau",Y,1991.06.07.a,1991.06.07.a
1651,2004.07.28,28-Jul-2004,2004.0,USA,North Carolina,"Rodanthe, Dare County",N,2004.07.28,2004.07.28
6543,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8272,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,2015.01.30,30-Jan-2015,2015.0,AUSTRALIA,Queensland,"Nerang River, Surfer's Paradise",N,2015.01.30,2015.01.30
3234,1975.03.16,16-Mar-1975,1975.0,USA,Florida,"Clearwater Beach, Pinellas County",N,1975.03.16,1975.03.16
4575,1947.06.27,27-Jun-1947,1947.0,USA,Hawaii,"Off Waianae, O'ahu",N,1947.06.27,1947.06.27
8640,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### C.1 Fatality rate across time

### Z. Ideas, experiemntos e información variada (En Español)

In [ ]:
#df version index and description:

#attacks -> Raw data
#attacks_1_1 -> Rows where all values are Nulls are deletes
#attacks_1_2 -> Columns "Unnamed: 22" & "Unnamed: 23" deleted
#attacks_1_3 -> Columns which are not of interest to the hypotheses test are discarded

In [ ]:
#nombres "ocupados"

#columns_to_discard

In [ ]:
#sites of interest

#https://www.sharkattackfile.net/species.htm
#https://es.wikipedia.org/wiki/Selachimorpha
#https://es.wikipedia.org/wiki/Ataque_de_tibur%C3%B3n